$footerHeight: 755px;
$maxWidth: 1600px;
$darkColor: #332C2A;

a{
	color: $darkColor;
	&:hover{
		color: lighten($darkColor, 10%)
	}
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: white;
  background-color: $darkColor;
}


body{
	position: relative;
}

.header{
	padding: 20px;
	border: none;
	max-width: 1200px;
	margin: 0 auto 19px;

	h3{
		padding-bottom: 0;
	}
}

.page-wrapper{
	margin: 0 auto;
	max-width: $maxWidth;
	background: url("../images/bg.jpg") #c8d8e6 ;
	overflow: hidden;
	// margin-bottom: 500px;
}

.container{
	// z-index: 999;
}


.footer{
	height: $footerHeight;
	color: white;
	border: none;
	position: relative;
	padding: 0;
	margin: 0;
}

.sun{
	$width: 1067px;
	background: url("../images/sun.png");
	content: "";
	position: absolute;
	width: $width;
	height: 530px;
	bottom: 155px;
	left: 50%;
	margin-left: $width/-2;
}

.cloud{
	position: absolute;
	background: no-repeat;
	&.large{
		background: url("../images/cloud-large.png") ;
		width: 1230px;
		height: 435px;
		right: 0px;
		bottom: 255px;
	}
	&.medium{
		background: url("../images/cloud-medium.png") ;
		width: 800px;
		height: 460px;
	}
	&.small{
		background: url("../images/cloud-small.png") ;
		width: 405px;
		height: 220px;
		right: 50px;
		left: 50%;
		margin-left: 100px;
		bottom: 240px;
	}
}


.foreground{
	background: url("../images/silhouette.png") ;
	position: absolute;
	height: $footerHeight;
	bottom: 0;
	width: $maxWidth;
	margin-left: $maxWidth/-2;
	left: 50%;
	// z-index: 5;
}
