body{
	position: relative;
	background: url("../images/bg.jpg") #c8d8e6 ;
}

.header{
	padding-top: 20px;
}

.page-wrapper{
	margin: 0 auto;
	max-width: 1600px;
	// margin-bottom: 500px;
}

.container{
	z-index: 999;
}

.sun{
	background: url("../images/sun.png");
	content: "";
	position: absolute;
	width: 1067px;
	height: 530px;
	bottom: 155px;
	left: 134px;
}

.cloud{
	position: absolute;
	background: no-repeat;
	&.large{
		background: url("../images/cloud-large.png") ;
		width: 1230px;
		height: 435px;
		right: 0px;
		bottom: 255px;
	}
	&.medium{
		background: url("../images/cloud-medium.png") ;
		width: 800px;
		height: 460px;
	}
	&.small{
		background: url("../images/cloud-small.png") ;
		width: 405px;
		height: 220px;
		right: 50px;
		left: 50%;
		margin-left: -620px;
		bottom: 240px;
	}
}

$footerHeight: 800px;

.foreground{
	background: url("../images/silhouette.png") ;
	position: absolute;
	height: $footerHeight;
	bottom: 0;
	width: 100%;
	z-index: 5;
}


.footer{
	height: $footerHeight;
	color: white;
	border: none;
	position: relative;
}